<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list class="app-sidebar-menu-container">
      <div *ngFor="let item of navOptions">

        <mat-list-item (click)="item.action && item.action(item)" [routerLink]="item.routerLink" routerLinkActive="active" *ngIf="!item.children">
          <mat-icon>{{item.icon}}</mat-icon>
          <a>{{item.label}}</a>
        </mat-list-item>

        <mat-expansion-panel *ngIf="item.children">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>{{item.label}}</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div *ngFor="let item of item.children">
              <mat-list-item (click)="item.action && item.action(item)" [routerLink]="item.routerLink" routerLinkActive="active" *ngIf="!item.children">
                <mat-icon>{{item.icon}}</mat-icon>
                <a>{{item.label}}</a>
              </mat-list-item>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular starter</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
